In [15]:
#Calling Libraries
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

#read csv from local
csv_path = "/Users/dilarahaciali/Downloads/testmod.csv"
df = pd.read_csv(csv_path)
df.head()

   breath_id         R     C  time_step      u_in  u_out  pressure
0     100616  0.666667 -0.25   0.000000 -0.493266   -1.0  2.955104
1     100616  0.666667 -0.25   0.033487 -0.293046   -1.0  3.236312
2     100616  0.666667 -0.25   0.066916 -0.113374   -1.0  3.798729
3     100616  0.666667 -0.25   0.101291  0.046688   -1.0  4.712657
4     100616  0.666667 -0.25   0.134807  0.178513   -1.0  5.767190

In [16]:
#drop breathe_id
n_steps = 80
n_columns = len(df.columns)
n_columns

7

In [17]:
#minimizing dataset to demo version only 200 samples with reshaping first
n_samples = len(df) // n_steps  # Calculate the number of breaths
divided_df = df.values[:n_samples * n_steps].reshape(-1, n_steps, n_columns)[14025:14028]

In [18]:
len(divided_df)

3

In [19]:
reshaped_df = pd.DataFrame(divided_df.reshape(len(divided_df)*n_steps,n_columns),columns=df.columns)

In [20]:
reshaped_df.shape

(240, 7)

In [21]:
reshaped_df.head()

   breath_id         R     C  time_step      u_in  u_out  pressure
0   123949.0 -0.333333  0.75   0.000000 -0.909531   -1.0  5.064168
1   123949.0 -0.333333  0.75   0.033734 -0.278800   -1.0  5.204772
2   123949.0 -0.333333  0.75   0.067712 -0.167295   -1.0  5.837492
3   123949.0 -0.333333  0.75   0.101704 -0.040323   -1.0  5.485981
4   123949.0 -0.333333  0.75   0.135692  0.057933   -1.0  5.978096

In [22]:
reshaped_df.to_csv("three_breath.csv")